<div id="agentsListUI" >
  <div class="row gridHeader">
    <div class="col-md-2">
      <span><strong>Agent ID</strong></span>
      <i class="fa fa-sort"  style="margin-right: 10px"  aria-hidden="true" *ngIf="!(agentsListOrderBy=='agentIdDESC' || agentsListOrderBy=='agentIdASC')" (click)="sortAgentsListby('agentIdASC')"></i>
      <i class="fa fa-sort-asc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentIdASC'" (click)="sortAgentsListby('agentIdASC')"></i>
      <i class="fa fa-sort-desc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentIdDESC'" (click)="sortAgentsListby('agentIdDESC')"></i>
    </div>
    <div class="col-md-2">
      <span><strong>First Name</strong></span>
      <i class="fa fa-sort"  style="margin-right: 10px"  aria-hidden="true" *ngIf="!(agentsListOrderBy=='agentFNameDESC' || agentsListOrderBy=='agentFNameASC')" (click)="sortAgentsListby('agentFNameASC')"></i>
      <i class="fa fa-sort-asc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentFNameASC'" (click)="sortAgentsListby('agentFNameASC')"></i>
      <i class="fa fa-sort-desc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentFNameDESC'" (click)="sortAgentsListby('agentFNameDESC')"></i>
    </div>
    <div class="col-md-2">
      <span><strong>Last Name</strong></span>
      <i class="fa fa-sort"  style="margin-right: 10px"  aria-hidden="true" *ngIf="!(agentsListOrderBy=='agentLNameDESC' || agentsListOrderBy=='agentLNameASC')" (click)="sortAgentsListby('agentLNameASC')"></i>
      <i class="fa fa-sort-asc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentLNameASC'" (click)="sortAgentsListby('agentLNameASC')"></i>
      <i class="fa fa-sort-desc"  style="margin-right: 10px"  aria-hidden="true" *ngIf="agentsListOrderBy=='agentLNameDESC'" (click)="sortAgentsListby('agentLNameDESC')"></i>
    </div>
    <div class="col-md-2">
      <span><strong>*</strong></span>
    </div>
    <div class="col-md-2">
     <span><strong>Mass update</strong></span>
    </div>
  </div>
  <hr>
  <div *ngFor="let agent of pageAgents; let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even, gridRow: true }">
    <div class="row">
        <div class="col-md-2">
          <span class='link' (click)="toggleEdit(agent)">{{agent.cmsLoginId}}</span>
        </div>
        <div class="col-md-2">
          <span>{{agent.firstName}}</span>
        </div>
        <div class="col-md-2">
          <span>{{agent.lastName}}</span>
        </div>
        <div class="col-md-2">
          <i class="fa fa-pencil-square-o" aria-hidden="false" (click)="toggleEdit(agent)" title="Edit user's details!">
          </i>
        </div>
      <div class="col-md-2">
        <input [checked]="agent.selectForMassUpdate" type="checkbox" (click)="addToMassUpdate(agent)"/>
      </div>

    </div>
    <div class="row" *ngIf="agent.doEdit">
      <div class="col-md-12">
        <app-agent-edit [agentInput]="agent" [allSkills]="allSkills"  (sendAgentBack)="getAgent($event)"></app-agent-edit>
      </div>
    </div>
  </div>
  <!-- showpaginations if you have more than 10 records -->
  <app-pagination [allItems]="agents" (currentPageItems)="getPageAgents($event)" *ngIf="agents.length>10" ></app-pagination>

</div>

