@import '../../../styles/app';
#agentsListUI {
  background-color:  $baseBackground;
  padding-left: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
}
.gridHeader, .gridRow {
  padding-left: 10px;
}


i {
  font-style: italic;
  color: #db060e;
}

span.link {
  // color: #db060e;
  cursor: pointer;
  text-decoration: underline;
}
.even { background: $evenRow;
  color: black}
.odd { background: $oddRow;
  color: black}
button, i {
  cursor: pointer;
  cursor: hand;
}
