@import '../../../styles/app';

#main {
  background-color:  $baseBackground;
}
.active-link {
  color: black !important;
  background-color: darkblue !important;
}
.activeBtn {
  background-color: #0275d8 !important;
}

ul li {
  background-color: lightblue;
}
.agentInfoTabs{
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom:  5px;

}

.agentInfo{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom:  5px;
    background-color: lightblue;
}

.even { background: $evenRow;
  color: black}
.odd { background: $oddRow;
  color: black}

.deleted {
  color: $deletedSkill;
}
.changed {
  color: $changedSkill;
}
.added {
  color: $addedSkill;
}

i {
  padding-right: 3px;
}
button , i, a{
  cursor: pointer; cursor: hand;
}
