<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right btn-sm" type="button" data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">
      <img id="logoImg" src="{{ logoPath }}" routerLink="/">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [ngClass]="{'disabled': !authenticationService.authenticated() }">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/checkout/V0001" [ngClass]="{'disabled': !authenticationService.authenticated() }">Checkout books</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/watchlist" [ngClass]="{'disabled': !authenticationService.authenticated() }">Preferred Books</a>
        </li>

<li class="nav-item">
  <a class="nav-link" routerLink="/"> Your are logged in as :  {{(user$ | async)?.userId}} </a>
</li>


      </ul>
      <button class="btn btn-sm btn-outline-success my-2 my-sm-0" (click)="authenticationService.login()"
              *ngIf="!authenticationService.authenticated()">Log In
      </button>
      <button class="btn btn-sma btn-outline-success my-2 my-sm-0" (click)="authenticationService.logout()"
              *ngIf="authenticationService.authenticated()">Log Out
      </button>
    </div>
  </nav>
</div>
