@import '../../styles/app';

#main{
  background-color: $baseBackground;
  border: 1px black solid;
}

form {
  background-color:  rgba(62, 255, 93, 0.16);
}

.alignRight {
  text-align: right;
}
.userList {
  margin: 0 auto;
}

button {
  max-width: 200px;
  max-height: 35px;
  cursor: pointer;
  cursor: hand;
}
button.btn-danger{
  background-color: $ScotiaRed !important;
}
select[disabled]{
  cursor: not-allowed;
}

