.pagination {
  padding-top: 5px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 3px 10px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3e2d80;
  color: white;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
