<div>
      <!-- pager -->
      <div *ngIf="pager.pages && pager.pages.length" class="pagination">
          <a (click)="setPage(1)" [ngClass]="{disabled:pager.currentPage === 1}" >First</a>
          <a (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">Previous</a>
          <a (click)="setPage(page)"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">{{page}}</a>
          <a (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Next</a>
          <a (click)="setPage(pager.totalPages)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">Last</a>
      </div>
</div>
