@import './../../../../styles.scss';
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinnerMain{
  position: fixed;
  background-color: rgba(245, 245, 245, 0.95);
  padding-top: 5px ;
  padding-bottom: 5px;
  top: 10%;
  left: 30%;
  z-index: 100;
  width: 40%;
  height: 40%;
}

.spinner {
  border: 16px solid $spinner-global-background; /* background of rotate disk */
  border-top: 16px solid $spinner-color; /* rotating disk sector */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;

}
.spinner-text {
  margin: auto;
  width: 30%;
  color: #1e1ddb;
  text-align: center;
  z-index: 100;
}
