@import 'styles/app';
/* You can add global styles to this file, and also import other style files */
$secondary: #00A221;
$spinner-background: rgba(255, 255, 255, 1);
$spinner-global-background: darkgrey;
$spinner-color: #1e1ddb;
$spinner-wedge-color: $secondary;


.dataSource { font-size:8px;
  color: black}
optgroup { font-size:8px;
  color: black;
}
