@import '../../styles/app';
#mainEditD {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #cacaca;
}

span.link {
  // color: #db060e;
  cursor: pointer;
  text-decoration: underline;
}
