.header {
  margin-bottom: 10px;
}

#top  {
  width:99%;
  margin-right: auto; margin-left: auto;
}
.main {
  width:99%;
  margin-right: auto; margin-left: auto;
}
.toRight{
  text-align: right;
}
.toCenter{
  text-align: center;
}
#logoImg {
  height: 25px;
  width: 115px;
  margin-left: 5px;
}
