<!--The whole content below can be removed with the new code.-->
<div id="top">
  <div class="row">
    <div class="col-sm-3">
      <img id="logoImg" src="{{ logoPath }}" routerLink="/">
    </div>
    <div class="col-sm-6 toCenter">
      <h5>
        <strong>Welcome to {{title}}!! </strong>
      </h5>
    </div>
    <div class="col-sm-3 toRight">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      {{authenticationService.currentUser.firstName}}&nbsp;{{authenticationService.currentUser.lastName}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="bg-faded header">
        <app-header></app-header>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <!-- Alert container -->
  <app-notification></app-notification>
  <!-- Spinner container -->
  <app-spinner></app-spinner>
  <!-- Router place container -->
  <router-outlet></router-outlet>
</div>
