#firstLine {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto !important;
}
.toRight{
  text-align: right;
}
.toCenter{
  text-align: center;
}
.v-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
img {
  height: 35px;
}
