@import '../../../../styles/app';

#mainLogin {
  background-color: $baseBackground;;
  width: 50%;
  text-align: center;
  margin-right: auto; margin-left: auto;
}
.innerDivTitle{
  background-color: #1a5336;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
button {
  cursor: pointer; cursor: hand;
}
button:disabled,
button[disabled]{
  color: #666666;
}
