<div id="usersListUI" >
      <div class="gridHeader">
        <div class="d-flex flex-row">
          <div class="p-1" style="width: 12%">
            <span><strong>Login ID</strong></span>
          </div>
          <div class="p-1" style="width: 12%">
            <span><strong>First Name</strong></span>
          </div>
          <div class="p-1" style="width: 12%">
            <span><strong>Last Name</strong></span>
          </div>
          <div class="p-1" style="width: 12%">
            <span><strong>Administrator</strong></span>
          </div>
          <div class="p-1" style="width: 12%">
            <span><strong>Access to Reports</strong></span>
          </div>
          <div class="p-1" style="text-align: center" style="width: 5%">*</div>
          <div class="p-1" style="width: 12%">
            <strong>Mass update</strong>
          </div>
          <div class="p-1" style="text-align: right; width: 5%"><i class="fa fa-user-plus" (click)="addNewUser()" title="Add new user!"></i>
          </div>
        </div>
      </div>
  <hr>
  <div class="row" *ngIf="addingNewUser">
    <div class="col-md-12">
      <app-user-edit [userInput]="newUser" [gridCols]="4" (sendUserBack)="getUser($event)" (sendCancelation)="getCancelationNewUser($event)"  [allSkills]="allSkills"></app-user-edit>
    </div>
  </div>

  <div *ngFor="let user of users; let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even, gridRow: true }">
    <div class="d-flex flex-row">
      <div class="p-1" style="width: 12%">
        <span class='link' (click)="toggleEdit(user)">{{user.adLoginId}}</span>
      </div>
      <div class="p-1" style="width: 12%">
        <span>{{user.firstName}}</span>
      </div>
      <div class="p-1" style="width: 10%">
        <span>{{user.lastName}}</span>
      </div>
      <div class="p-1" style="width: 12%; text-align: center">
        <input [(ngModel)]="user.isAdministrator" type="checkbox" disabled/>

      </div>
      <div class="p-1" style="width: 12%; text-align: center">
        <input [(ngModel)]="user.hasAccessToReports" type="checkbox" disabled/>
      </div>

      <div class="p-1" style="text-align: center; width: 5%">
        <i class="fa fa-pencil-square-o" aria-hidden="false" (click)="toggleEdit(user)" title="Edit user's details!">
            </i>
      </div>
      <div class="p-1" style="width: 12%; text-align: center">
        <input [checked]="user.selectForMassUpdate" type="checkbox" (click)="addToMassUpdate(user)"/>
      </div>
    </div>
    <div class="row" *ngIf="user.doEdit">
       <div class="col-md-12">
        <app-user-edit [userInput]="user" [gridCols]="4" (sendUserBack)="getUser($event)" [allSkills]="allSkills"></app-user-edit>
        </div>
    </div>
  </div>
</div>
