#main {
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3%;
  margn-right: 3%;
}

.skillList {
  margin: 10px;
 // border: 2px solid #fd1111;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
button {
  cursor: pointer;
  cursor: hand;
}
