@import '../../../styles/app';

#agentDetails {
  border-top: 1px solid black;
}

.even {
  background: $evenRow;
  color: black
}

.odd {
  background: $oddRow;
  color: black
}

.beforeAfter {
  background-color: lightblue;
  border-style: ridge;
  width: 20%;
}

.headers {
  background-color: #64d4db;
  border-style: ridge;
}

.deleted {
  color: $deletedSkill;
}

.changed {
  color: $changedSkill;
}

.added {
  color: $addedSkill;
}
button {
  cursor: pointer; cursor: hand;
}
