@import '../../../styles/app';

#searchMain {
  background-color: $baseBackground;
}

#searchResult {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  border: 1px solid black;
}

form {
  background-color: rgba(62, 255, 93, 0.16);
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}


button {
  max-width: 90px;
  max-height: 35px;
}

input[type="time"] {
  width: 120px;
  // background-color: yellow;
}
// match time picker
.matchTP {
  height: 30px !important;
}
button {
  cursor: pointer; cursor: hand;
}
select[disabled]{
  cursor: not-allowed;
}
